html {
    background-color: grey;
    color: black;
    text-align: center;
    font-family: "Time New Roman", serif;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    font-size: 18px;
    margin: 0 auto;
    padding: 0px;
}

h1 {
    margin: 20px;
    font-weight: bold;
}

h2 {
    margin: 20px;
    font-weight: bold;
}

h3 {
    margin: 20px;
    font-weight: bold;
}

ol {
    list-style-position: inside;
    font-size: 18px;
    margin: 0 auto;
    padding: 0px;
}
